
* { margin: 0; padding: 0; outline: 0;};

body { font-family: Keffeesatz, Arial; color: #4b4b4b; background: url(images/patt.gif); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

h2 { padding-left: 125px; font-size: 66px; color: #ff5400; height: 120px; width: 1000px; }
h2 span.sub { font-size: 48px; float: left; color: #4b4b4b; }

h2.intro { background: url(images/bolot.jpg) no-repeat 0px 0px;height: 100px;width: 1000px;color:blue;padding-top: 30px;padding-left: 150px; }
h2.work { background: url(images/portfolio.png) no-repeat -10px -10px; }
h2.about { background: url(images/about.png) no-repeat -10px -10px; }
h2.contact { background: url(images/contact.png) no-repeat -10px -10px; }

a { color: #7ac000; text-decoration: none; border-bottom: 1px solid #7ac000; padding-bottom: 2px; }
a:hover { color: #ff5400; text-decoration: none; border-bottom: 1px solid #ff5400; padding-bottom: 2px; }
a:active { color: #ff5400; text-decoration: none; border-bottom: 1px solid #ff5400; padding-bottom: 2px; position: relative; top: 1px; }

p { font-size: 24px; margin-bottom: 15px; line-height: 36px;}
strong { font-family:  Arial; }

header { padding: 10px 0; width: 100%; background-color: #000; margin-bottom: 2px; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); position: fixed; z-index: 10; float: left; }

#headerer, #contenter { width: 960px; margin: 0 auto; position: relative; }
#contenter { float: none; padding-top: 0px;background-color: black; }



nav { width: auto; float: left; }
nav ul { position: absolute; right: 0; display: block; margin-top: -37px; }
nav ul li { display: inline; margin-left: 50px; }
nav ul li a { font-size: 24px; border-bottom: none; }

section { margin-bottom: 1000px; padding-top: 150px; float: left; }


#portfolio ul.work li { list-style: none; float: left; margin-left: 15px; margin-bottom: 15px; }

#contact { margin-bottom: 0px; }
#contact h3 {color:#ff5400;padding-left: 20px; padding-top: 10px;}
#facebook {height: 150px;width: 150px;border-radius: 100px;background: url(images/facebook.jpg);float:right;}
#gmail {height: 150px;width: 150px;border-radius: 100px;background: url(images/gmail.jpg);float:left;}
